body {
  font-family: 'News Cycle', sans-serif;
  padding-top: 70px;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #fafafa;
  border-bottom: 2px solide #ccc;
  height: 70px;
  width: 100%;
  font-weight: 700;
}

nav ul {
  float: right;
  width: auto;
}

nav li {
  float: right;
  width: auto;
}

nav li a {
  padding: 27px 10px;
  display: block;
  text-decoration: none;
  color: #333;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav li a:hover {
  background: #ee4579;
  color: #fafafa;
}

#brand {
  text-indent: -9000px;
  background: url (../images/ohio.jpg) no-repeat top left;
  height: 60px;
  width: 60px;
  float: left;
  margin: 5px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}
